@font-face {
  font-family: Redaction-20-Regular;
  src: url(Fonts/Redaction_20-Regular.woff2);
}

@font-face {
  font-family: Redaction-20-Italic;
  src: url(Fonts/Redaction_20-Italic.woff2);
}

@font-face {
  font-family: Redaction-20-Bold;
  src: url(Fonts/Redaction_20-Bold.woff2);
}

@font-face {
  font-family: Redaction-10-Regular;
  src: url(Fonts/Redaction_10-Regular.woff2);
}

@font-face {
  font-family: Redaction-10-Italic;
  src: url(Fonts/Redaction_10-Italic.woff2);
}

@font-face {
  font-family: Redaction-10-Bold;
  src: url(Fonts/Redaction_10-Bold.woff2);
}

@font-face {
  font-family: VCR;
  src: url(Fonts/VCR_OSD_MONO_1.001.ttf);
}

body {
  width: 100%;
  font-family: Redaction-20-Regular, serif;
  font-size: 14px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

p {
  font-family: Redaction-10-Regular, serif;
}

.slogan {
  font-family: Redaction-20-Italic, serif;
}

img {
  object-fit: cover;
}

.container {
  max-width: 1000px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}


h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  height: 15%;
}

.logo-icon {
  max-width: 115px;
  max-height: 115px;
  margin-right: 12px;
}

.logo-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bar {
  width: 650px;
  height: 9px;
  background: linear-gradient(90deg, #30106B -2.65%, rgba(90, 68, 132, 0.713542) 26.75%, rgba(196, 196, 196, 0) 100%);
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #30106B;
}

.subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #7F7BAA;
  margin-top: 7px;
}

.subtitle-link {
  text-decoration: none;
  color: #7F7BAA;
}

.subtitle-link:hover {
  text-decoration: underline;
}

.main-content {
  display: flex;
  width: 650px;
  flex-direction: column;
  align-items: center;
}

.game-content {
  display: flex;
  width: 650px;
  margin-top: 40px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.project {
  display: flex;
  max-width: 509px;
  flex-direction: row;
  padding: 40px 0px;
}

.project-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-title {
  font-size: 18px;
}

.project-title>span {
  font-size: 14px;
  color: #7F7BAA;
}

.project-description {
  margin: 0;
  margin-top: 5px;
  font-size: 16px;
}

.project-author {
  margin-top: 5px;
  font-size: 12px;
  color: #7F7BAA;
}

.project-author>a {
  color: #7F7BAA;
  text-decoration: none;
}

.project-author>a:hover {
  text-decoration: underline;
}

.project-icon {
  max-width: 80px;
  align-self: center;
  justify-self: center;
  margin-right: 20px;
}

#steve {
  align-self: start;
}

#cracked {
  align-self: start;
}

#backrub {
  align-self: end;
}

#trm {
  align-self: end;
}

.corner-wrapper {
  display: block;
  overflow: hidden;
  width: 240px;
  height: 450px;
  border-radius: 30px;
  transform: translateZ(0px);
}

.footer {
  display: flex;
  width: 100%;
  max-width: 100vw;
  border-top: 2px solid #30106B;
  margin-top: 20px;
}

.footer-text {
  margin: 5px 0;
  font-size: 10px;
}

@media (max-width:850px) {

  body {
    min-height: -webkit-fill-available;
  }

  nav {
    padding: 10px 0;
    width: 95vw;
  }

  .project {
    padding: 20px 0;
  }

  .bar {
    width: 100%;
  }

  .logo-icon {
    max-width: 80px;
    justify-self: center;
    align-self: center;
  }

  .logo-text {
    width: 100%;
  }

  .title {
    font-size: 22px;
  }

  .subtitle {
    font-size: 11px;
  }

  .main-content {
    width: 100%;
  }

  .game-content {
    margin-top: 0;
    width: 100%;
    justify-content: center;
    height: 70%;
  }

  .project {
    max-width: 100%;
  }

  .project-title {
    font-size: 16px;
  }

  .project-description {
    font-size: 14px;
  }

  .project-icon {
    max-width: 60px;
    margin-right: 15px;
  }

  #steve {
    align-self: start;
  }

  #backrub {
    align-self: start;
  }

  #instakidz {
    align-self: start;
  }

  #cracked {
    align-self: start;
  }

  .footer-text {
    margin: 5px 10px;
  }


}