@font-face {
  font-family: Redaction-20-Regular;
  src: url(Fonts/Redaction_20-Regular.woff2);
}

@font-face {
  font-family: Redaction-20-Italic;
  src: url(Fonts/Redaction_20-Italic.woff2);
}

@font-face {
  font-family: Redaction-20-Bold;
  src: url(Fonts/Redaction_20-Bold.woff2);
}

body {
  width: 100%;
  height: 100vh;
  font-family: Redaction-20-Regular, serif;
  font-size: 14px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 700px;
}


h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.logo-icon {
  max-width: 115px;
  margin-right: 12px;
}

.logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bar {
  width: 650px;
  height: 9px;
  background: linear-gradient(90deg, #30106B -2.65%, rgba(90, 68, 132, 0.713542) 26.75%, rgba(196, 196, 196, 0) 100%);
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  color: #30106B;
}

.subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #7F7BAA;
  margin-top: 7px;
}

.subtitle-link {
  text-decoration: none;
  color: #7F7BAA;
}

.subtitle-link:hover {
  text-decoration: underline;
}

.main-content {
  display: flex;
  width: 750px;
  flex-direction: column;
}

.project {
  display: flex;
  max-width: 600px;
  flex-direction: row;
  padding: 40px 0px;
}

.project-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-title {
  font-size: 18px;
}

.project-title>span {
  font-size: 14px;
  color: #7F7BAA;
}

.project-description {
  margin: 0;
  margin-top: 5px;
  font-size: 16px;
}

.project-author {
  margin-top: 5px;
  font-size: 12px;
  color: #7F7BAA;
}

.project-author>a {
  color: #7F7BAA;
  text-decoration: none;
}

.project-author>a:hover {
  text-decoration: underline;
}

.project-icon {
  max-width: 80px;
  align-self: center;
  justify-self: center;
  margin-right: 20px;
}

#steve {
  align-self: end;
}

#backrub {
  align-self: end;
}

#instakidz {
  margin-left: 70px;
}



@media (max-width:850px) {

  body {
    height: 100%;
  }

  .container {
    padding: 0 10px;
  }

  nav {
    padding: 20px 0;
    width: 100%;
  }

  .project {
    padding: 20px 0;
  }

  .bar {
    width: 100%;
  }

  .logo-icon {
    max-width: 80px;
    justify-self: center;
    align-self: center;
  }

  .logo-text {
    width: 100%;
  }

  .title {
    font-size: 26px;
  }

  .subtitle {
    font-size: 12px;
  }

  .main-content {
    width: 100%;
  }

  .project {
    max-width: 100%;
  }

  .project-description {
    font-size: 14px;
  }

  .project-icon {
    max-width: 60px;
    margin-right: 15px;
  }

  #steve {
    align-self: start;
  }

  #backrub {
    align-self: start;
  }

  #instakidz {
    margin-left: 0;
  }

}