.trm-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full-video {
  margin: 20px 0;
  background-color: black;
}

.video-bar {
  z-index: 3;
  background-color: BLACK;
  color: white;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: space-between;
  padding: 0 15px;
}

.video-bar>p {
  font-family: VCR;
}

.small>p {
  margin: 10px;
  font-size: 16px;
}


.film-plyr {
  background-color: transparent;
  background-size: cover;
  width: 500px;
  position: relative;
  z-index: 2;
  border: 5px solid #000000;
}

.coming-soon {
  width: 500px;
  margin: 0;
  padding: 0;
}


.film-plyr-wide {
  background-color: transparent;
  background-size: cover;
  width: 100%;
  position: relative;
  z-index: 2;
}

.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
}

.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

.crt {
  animation: textShadow 1.6s infinite;
}

.trm-title-text {
  margin: 20px 0;
}

.trm-title {
  font-size: 36px;
  padding-bottom: 5px;
}

.trm-subtitle {
  display: flex;
  color: rgb(125, 125, 125);
  font-size: 24px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.trm-grid {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 0;
}

.trm-description,
.trm-video-embed,
.trm-schematic,
.trm-stack,
.trm-003-video {
  width: 50%;
  margin: 20px 0;
}

.trm-video-embed {
  position: relative;
}

.trm-description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trm-description>p {
  padding: 0 70px;
  text-align: justify;
  line-height: 1.3;
  font-size: 16px;
}

.trm-schematic>img {
  max-width: 100%;
}

.trm-stack {
  display: flex;
  justify-content: center;
}

.trm-stack>img {
  max-width: 80%;
}

.credits>ul {
  list-style-type: none;
  padding: 0 70px;
  margin: 0;
  line-height: 1.3;
}

.credits {
  position: absolute;
  bottom: 0;
}

.trm-002-mobile,
.schematic-mobile {
  display: none;
}

.play-button {
  position: absolute;
  background-color: black;
  width: 12%;
  height: 12%;
  bottom: 0;
  left: 0;
  border-radius: 50%;
}

.full-screen-button {
  position: absolute;
  background-color: black;
  width: 12%;
  height: 12%;
  bottom: 0;
  right: 0;
  border-radius: 50%;
}


@media (max-width: 900px) {
  .trm-description>p {
    font-size: 14px;
  }

  .credits>ul {
    font-size: 14px;
  }

  .small>p {
    font-size: 12px;
  }

}

@media (max-width: 800px) {

  .trm-description>p,
  .credits>ul {
    padding: 0 40px;
    font-size: 12px;
  }

}

@media (max-width: 750px) {

  .trm-description,
  .trm-video-embed,
  .trm-schematic,
  .trm-stack,
  .trm-003-video {
    width: 100%;
    margin: 10px 0;
  }

  .trm-grid {
    flex-direction: row-reverse;
    margin: 0;
  }

  .container {
    padding: 0px;
  }

  .trm-description>p {
    padding: 0 25px;
    font-size: 14px;
  }

  .trm-stack {
    display: none;
  }

  .trm-002-mobile,
  .schematic-mobile {
    display: initial;
  }

  .schematic-mobile {
    padding: 0 20px;
  }

  .trm-002-desktop,
  .schematic-desktop {
    display: none;
  }

  .credits {
    position: relative;
    padding-top: 25px;
  }

  .credits>ul {
    font-size: 14px;
    padding: 0 25px;
  }

  .trm-title-text {
    margin: 20px 0 0 0;
  }

}

@media (max-width: 600px) {
  .full-video {
    margin: 0;
  }

  .film-plyr,
  .coming-soon {
    width: 100vw;
  }

  .trm-title {
    font-size: 24px;
  }

  .trm-subtitle {
    font-size: 18px;
  }

  .video-bar {
    font-size: 14px;
  }

}